<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/contactsadd" method="post">
        <div>
            <label for="number">Number:</label>
            <input type="text" id="number" name="number">
        </div>
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
        </div>
        <div>
            <label for="surname">Surname:</label>
            <input type="text" id="surname" name="surname">
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>