<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>

    <style>
        body{
            background-color: #3e1251
        }
        .main{
            width:300px;
            height:100px;
            background-color:#1c0924;
            float:left;
            margin-left:133px;
            margin-top: 220px;
            color: white;
            font-size:60px;
            text-align: center;
            padding-top:20px;
        }
    </style>

</head>
<body>
<a href="/calculator"><div class="main">Calculator</div></a>
<a href="/contactsform"><div class="main">Contacts</div></a>
<div class="main">3</div>
<div class="main">4</div>
</body>
</html>