<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contacts form</title>
</head>
<body>
<form action="/contactsanswer" method="post">
    <div class="maincal">
        <h1 class="text">Give the id</h1></br>
        <input class="var" type="text" name="id" value=""></br></br>
        <input type="submit" value="Send">
    </div>
</form></br>
<a href="/contacts">All contacts</a></br></br>
<a href="/edit">EDIT contact</a></br></br>
<a href="/add">ADD contact</a></br></br>
<a href="/delete">DELETE contact</a></br></br>
<a href="/allapp">back</a>
</body>
</html>