<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Lista kontaktów</title>
</head>
<body>

<h1>Lista kontaktów</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Imię</th>
    <th>Nazwisko</th>
    <th>Numer telefonu</th>
  </tr>
  <tr th:each="contact : ${contacts}">
    <td th:text="${contact.id}"></td>
    <td th:text="${contact.name}"></td>
    <td th:text="${contact.surname}"></td>
    <td th:text="${contact.number}"></td>
  </tr>
</table></br></br></br>
<a href="/contactsform">back</a>

</body>
</html>
