<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action="/contactsedit" method="post">
  <div class="form-group">
    <label for="Id">Id</label>
    <input type="text" class="form-control" id="id" name="id">
  </div>
  <div class="form-group">
    <label for="number">Number</label>
    <input type="text" class="form-control" id="number" name="number">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="surname">Surname</label>
    <input type="text" class="form-control" id="surname" name="surname">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>